:root {
	--primary-color: #483e38;
	--secondary-color: #483e38;
	--accent-color: #e49961;
	--text-color: #483e38;
	--text-color-contrast: #000000;
	--background-color: #e6e0d7;
	--background-accent-color: #b3ada3;
	--footer-color: #f6decb;
}

body {
	background-color: #e6e0d7;
	color: var(--text-color);
}

.nav-hover-style {
	position: relative !important;
	display: inline-block !important;
	color: var(--text-color);
	text-decoration: none;
	font-weight: bolder;
}

/* exibindo imagem em volta do link quando hover */
.nav-hover-style::after {
	content: url("/img/nav_hover_120_40.png"); /* Path to your PNG image */
	position: absolute;
	top: 50%; /* Center the image vertically */
	left: 50%; /* Center the image horizontally */
	transform: translate(-50%, -50%); /* Translate to fully center the image */
	display: none; /* Hide the image initially */
	background-size: contain; /* Ensure the image scales proportionally */
	background-repeat: no-repeat; /* Prevent the image from repeating */
	width: 120px; /* Set a default width */
	height: 40px; /* Set a default height */
}

.nav-hover-style:hover::after {
	display: block;
	height: auto; /* Maintain the aspect ratio of the image */
}

/* animação de pulse no mark */
@keyframes mark-pulse {
	from {
		outline: 1px solid #e49961;
	}

	to {
		outline: 4px solid #fee2cd;
	}
}
mark {
	background-color: var(--accent-color);
	color: var(--text-color-contrast);
	animation-duration: 1.5s;
	animation-name: mark-pulse;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#inspirational-video-carousel > carousel-item {
	height: 200px;
}

.background-color--accent {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	color: var(--text-color-contrast);
}
.card-body {
	background-color: var(--background-accent-color);
	color: var(--text-color-contrast);
}

/* tweaks to clean default bootstrap style */
.btn:focus {
	outline: none;
	background-color: var(--accent-color) !important;
	border: none;
}
.btn:hover {
	outline: none;
	background-color: var(--accent-color);
	color: var(--text-color-contrast);
	border: none;
}
.btn {
	transition: color 0.15s ease-in-out, var(--accent-color) 0.15s ease-in-out,
		var(--accent-color) 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

footer {
	background-color: var(--text-color);
	color: var(--footer-color);
}

/* textura na área de menu */

#col-1 {
    background-image: url(/img/texture-1.webp);
    background-repeat: repeat;
    mix-blend-mode: multiply;
}

#col-2 {
    background-image: url(/img/texture-2.webp);
    background-repeat: repeat;
    mix-blend-mode: multiply;
}


/* Custom css necessário para mudar a flex direction, display item e width dos elementos em pontos
responsivos que não são cobertos pelo bootstrap (na verdade pode ser fazer um mixing no sass mas não é
o objetivo no momento. */
@media (min-width: 767.98px) {
	.nav {
		flex-flow: column nowrap !important;
	}

	.nav-item {
		display: inline-flex;
		width: 100% !important;
	}
}

@media (min-width: 1399.98px) {
    .navbar {
        align-content: flex-end;
    }
    .container-xl {
        margin-left: 0px;
    }
}
